<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- meta tag per migliore viewport BOOTSTRAP -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Link Bootstrap CSS -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Link Font-Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <!-- Link Caratteri Testi -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stick+No+Bills:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- Link al mio CSS -->
    <link rel="stylesheet" href="mastericette.css">
    <link rel="stylesheet" href="masterlistaricette.css">
    <title>AMC - In cucina con Ele</title>
    <link rel="icon" href="favicon.ico">
</head>

<body style="overflow-x: hidden;">
    <!-- Inizio HEADER -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="logo_container col-3">
                <a id="page_title" class="navbar-brand" href="#"><img id="logo" src="Logo_Ele_pinnato.png" alt=""></a>
            </div>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            <!-- Sezione Menu -->
            <div class="col-12 col-lg-6 col-md-12 col-sm-12 collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="my_menu navbar-nav m-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">HOME</a>
                    </li>
                    <li class="nav-item active margin_menu">
                        <a class="nav-link" href="indexricette.html">RICETTE</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="indexcontatti.html">
                            CONTATTI</a>
                    </li>
                </ul>
            </div>

            <!-- Sezione Social -->
            <div class="col-12 col-lg-3 col-md-12 col-sm-12 collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto socials">
                    <li class="nav-item active">
                        <a target="_blank" class="insta nav-link" href="https://www.instagram.com/cook.whitme_amc/"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="nav-item active margin_menu">
                        <a target="_blank" class="nav-link" href="https://www.facebook.com/eleonora.demartis.52/"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="nav-item active">
                        <a target="_blank" class="nav-link" href="https://vm.tiktok.com/ZMLfYENWU/"><i class="fab fa-tiktok"></i></a>
                    </li>
                    <li class="nav-item active">
                        <a target="_blank" class="nav-link" href="https://www.youtube.com/channel/UCcu99BEnaNdfIsjXEFtpCBA"><i class="fab fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Fine HEADER -->

    <!-- Inizio MAIN -->
    <main class="recipe_root" id="root">
        <div tabindex="1" id="movie_container" v-for="ricetta in ricette">
            <!-- LISTA RICETTE -->
            <div class="image_container">
                <img class="null" src="novità.png" alt="">
                <!-- <img class="found_image" v-else :src="imgFoundSrc + imgFoundSize + found.backdrop_path" alt=""> -->
                <input type="text" class="seeRecipe" v-model="ricetta.id" @click="clicked = !clicked; selectedRecipe(ricetta.id)">
                <!-- <p>ESPLORA LA RICETTA!</p> -->
                <div class="principal_info">
                    <h4>{{ricetta.nome}}</h4>
                    <h4><b>Strumento:</b> {{ricetta.macchina}}</h4>
                </div>
                <div class="onHover">
                </div>
            </div>
        </div>
        <div style="display: none;" v-show="clicked" id="selectedRecipeContainer" v-for="(ricettaSelezionata, index) in choosedRecipe">
            <div class="selectedRecipe">
                <i v-show="clicked" @click="deleteRecipes()" class="fa-solid fa-xmark"></i>
                <div class="recipeImgIngredients">
                    <img src="novità.png" alt="">
                    <div class="ingredients_container">
                        <h2>INGREDIENTI</h2>
                        <p class="ingredients">{{ricettaSelezionata.ingredienti}}</p>
                    </div>
                </div>
                <div class="recipeInfo">
                    <div>
                        <h2>PREPARAZIONE</h2>
                        <p>{{ricettaSelezionata.procedimento}}</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Fine MAIN -->



    <!-- Inizio FOOTER -->
    <footer>
        <div class="container ">
            <div class="row footer_wrapper ">
                <ul class="col-xs-12 col-md-4 col-lg-4 footer_socials ">
                    <li class="social nav-item ">
                        <a target="_blank" class="insta nav-link " href="https://www.instagram.com/cook.whitme_amc/"><i class="fab fa-instagram "></i></a>
                    </li>
                    <li class="social nav-item ">
                        <a target="_blank" class="nav-link " href="https://www.facebook.com/eleonora.demartis.52/"><i class="fab fa-facebook-f "></i></a>
                    </li>
                    <li class="social nav-item ">
                        <a target="_blank" class="nav-link " href="https://vm.tiktok.com/ZMLfYENWU/"><i class="fab fa-tiktok "></i></a>
                    </li>
                    <li class="social nav-item ">
                        <a target="_blank" class="nav-link " href="https://www.youtube.com/channel/UCcu99BEnaNdfIsjXEFtpCBA"><i class="fab fa-youtube "></i></a>
                    </li>
                </ul>
                <div class="col-xs-12 col-md-4 col-lg-4 ">
                    <a id="page_title " href="# "><img class="logo " src="Logo_Ele_pinnato.png " alt=" "></a>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4 ">
                    <span>Per prenotazioni, supporto, richieste, informazioni scrivere a:</span><span>demartis.ele@gmail.com</span>
                </div>
            </div>
        </div>
    </footer>
    <!-- Fine FOOTER -->

    <!-- JS import -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14 "></script>
    <script src="script2.js "></script>
    <script src="main.js "></script>
</body>

</html>