* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 17px;
    font-family: 'Exo 2', sans-serif;
    background-color: antiquewhite;
}

.margin_menu {
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-size: 3.2em;
}


/* Media Queries */


/* Small devices (landscape phones, 576px and up) */

@media (max-width: 576px) {
    .logo_container {
        display: flex;
        justify-content: flex-start;
    }
    .margin_menu {
        margin: 0;
    }
    nav {
        background-color: whitesmoke!important;
        text-align: center;
    }
    .socials ul {
        display: flex!important;
        flex-direction: row;
    }
    .socials {
        margin: 0!important;
        display: flex!important;
        flex-direction: row!important;
        justify-content: space-around;
        vertical-align: middle;
    }
    .my_menu li:first-child {
        margin-top: 8px;
    }
    .my_menu li a:hover {
        color: grey!important;
        border: none!important;
    }
    .socials li a:hover {
        transform: none!important;
    }
    #news_container {
        margin-bottom: 30px;
    }
    .footer_wrapper div:last-child {
        margin-top: 20px;
    }
    #reviews_section {
        padding-top: 110px!important;
    }
    #reviews_section h1 {
        text-align: center;
    }
    .reviews_wrapper {
        display: flex!important;
        flex-direction: column!important;
        align-items: center!important;
        width: 100%!important;
    }
    .images_container {
        margin: auto;
        height: 90%;
        width: 100%!important;
        margin-top: 35px;
    }
    .slide_prev,
    .slide_next {
        bottom: 40%;
        transform: translateY(-40%);
    }
    .slide_prev {
        display: none!important;
    }
    .slide_next {
        display: none!important
    }
    .slider {
        bottom: 5px!important;
        left: 50%;
        transform: translateX(-50%);
    }
    .slider i {
        font-size: 0.8em!important;
    }
    .ms_container {
        width: 100%;
        height: 90%!important;
    }
    .reviews_wrapper {
        padding: 0 10px 0 10px!important;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (max-width: 991px) {
    .margin_menu {
        margin: 0;
    }
    nav {
        background-color: whitesmoke!important;
        text-align: center;
    }
    .socials {
        border-top: 3px dotted rgb(190, 186, 186);
        padding-top: 10px;
        margin: 0!important;
        display: flex!important;
        flex-direction: row!important;
        justify-content: space-around;
    }
    .socials li a:hover {
        background-color: rgb(189, 162, 115)!important;
    }
    .socials li a i:hover {
        color: rgb(160, 65, 94)!important;
    }
    .socials ul li {
        display: flex;
        justify-content: space-around;
    }
    .my_menu li:first-child {
        margin-top: 8px;
    }
    .my_menu li a:hover {
        color: grey!important;
        border: none!important;
    }
    .socials li a:hover {
        transform: none!important;
    }
    .footer_wrapper div:last-child {
        margin-top: 20px;
        text-align: center;
    }
    #reviews_section {
        padding-top: 180px!important;
    }
    .ms_container {
        width: 100%;
        height: 60%;
    }
    .images_container {
        margin: auto;
        height: 90%;
        width: 100%!important;
        margin-top: 35px;
    }
    .slide_prev,
    .slide_next {
        bottom: 40%;
        transform: translateY(-40%);
    }
    .slide_prev {
        display: none!important;
    }
    .slide_next {
        display: none!important;
    }
    .slider {
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
}


/* Devices 767px */

@media screen and (min-width: 577px) and (max-width: 767px) {
    #reviews_section {
        padding-top: 150px!important;
    }
    .ms_container {
        width: 100%;
        height: 65%;
        display: flex;
        justify-content: center!important;
    }
    .images_container {
        margin: auto;
        height: 90%;
        width: 100%!important;
        margin-top: 35px;
    }
    .slide_prev,
    .slide_next {
        bottom: 40%;
        transform: translateY(-40%);
    }
    .slide_prev {
        right: 105%!important;
    }
    .slide_next {
        left: 105%!important;
    }
    .reviews_wrapper {
        padding: 0!important;
    }
    /* .ms_wrapper {
        height: 100%;
        width: 130%;
        position: relative;
    } */
}


/* Large devices (desktops, 992px and up) */


/* @media (min-width: 992px) {
    ...
} */


/* Extra large devices (large desktops, 1200px and up) */


/* @media (min-width: 1200px) {
    ...
} */


/* Fine Media Queries */


/* Inizio dell' HEADER */

nav {
    padding: 10px;
    background-color: rgba(250, 235, 215, 0.418);
}

#logo {
    width: 150px;
    margin-right: 20px;
}

.my_menu {
    font-size: 20px;
    font-weight: 900;
}

.my_menu li a {
    border-bottom: 5px solid transparent;
}

.my_menu li a:hover {
    border-bottom: 5px solid yellowgreen;
    color: rgb(177, 177, 177)!important;
}

.socials {
    font-size: 20px;
    margin-right: 50px;
    line-height: 20px;
}

.insta {
    font-size: 25px;
}

.socials li a {
    transition: 0.10s;
}

.socials li a:hover {
    color: rgb(2, 116, 2)!important;
    transform: scale(1.3);
}

.socials li:first-child a {
    background-color: rgb(241, 188, 188);
    /* padding: 7.5px 30px 7.5px 30px!important; */
    color: white!important;
}

.socials li:nth-child(2) a {
    background-color: blue;
    color: white!important;
}

.socials li:nth-child(3) a {
    background-color: black;
    color: white!important;
}

.socials li:nth-child(4) a {
    background-color: red;
    color: white!important;
}

.socials li:nth-child(4) {
    margin-left: 10px;
}

.socials li:first-child a,
.socials li:nth-child(2) a,
.socials li:nth-child(3) a,
.socials li:nth-child(4) a {
    /* padding: 10px 30px 10px 30px; */
    border-radius: 50%;
    width: 50px!important;
    height: 50px!important;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

.socials li a:focus {
    background-color: rgb(189, 162, 115)!important;
}

.socials li a:focus {
    color: rgb(160, 65, 94)!important;
}


/* Parte del Jumbotron */

#jumbotron {
    background-image: url("amc_principal.jpg");
    height: 100vh;
    position: relative;
    background-size: cover;
    background-color: rgba(48, 34, 34, 0.418);
    background-blend-mode: overlay;
    background-attachment: fixed;
    border-bottom: 10px ridge rgba(250, 235, 215, 0.384);
}

#jumbotron h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    font-family: 'Stick No Bills', sans-serif;
    font-weight: bold;
    color: rgb(250, 242, 242);
    line-height: 65px;
    padding: 10px;
}


/* Fine dell' HEADER */


/* Inizio del MAIN */

main {
    position: relative;
}

#news_container {
    background-color: rgb(216, 171, 24);
    margin: 0 auto;
    height: 330px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(48, 34, 34, 0.6);
    background-blend-mode: overlay;
    transition: 1s;
    cursor: pointer;
    text-decoration: none;
    width: 500px;
    margin: 20px;
}

#news_container:hover {
    transform: scale(1.1);
}

#news_container:hover h1 {
    color: lightgrey;
}

.inventory {
    margin-bottom: 0;
    padding-top: 100px;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 10px ridge rgba(250, 235, 215, 0.384);
}

#news_container h1 {
    font-weight: 900;
    font-family: 'Stick No Bills', sans-serif;
    text-align: center;
    color: white;
}

#news_container:first-child {
    background-image: url("novità.png");
}

#news_container:nth-child(2) {
    background-image: url("venduti.png");
}


/* ---SVG--- */

svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
}

.svg_container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 20%;
    vertical-align: middle;
    overflow: hidden;
}

.parent_svg {
    position: absolute;
    z-index: 1000;
    width: 100%;
}


/* ---end SVG--- */


/* Inizio Reviews Section */

#reviews_section {
    background-color: rgb(170, 157, 118);
    padding-top: 270px;
    border-bottom: 10px ridge antiquewhite;
}

#reviews_section h1 {
    color: antiquewhite;
    font-size: 3em;
    font-family: 'Stick No Bills', sans-serif;
    font-weight: bold;
}

.reviews_wrapper {
    padding: 0 50px 0 50px;
}


/* ---Parte dello slider */

.ms_container {
    padding-bottom: 65px;
    position: relative;
    width: 100%;
    height: 80%;
}

.slider_ghost {
    position: absolute;
    width: 14%;
    right: -8%;
    top: 34%;
    z-index: 3;
}

.ms_wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
}

.images_container {
    margin: auto;
    height: 90%;
    width: 90%;
    margin-top: 35px;
    box-shadow: 13px 10px 30px 10px rgba(128, 128, 128, 0.582);
    border-radius: 30px;
}

.ms_wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    /* border-left: 10px solid black;
    border-right: 10px solid black; */
}

.active {
    display: inline-block;
    color: rgb(170, 157, 118);
}

.slider i:hover {
    font-size: 2em;
}

.slide_prev i,
.slide_next i {
    font-size: 3.7em;
}

.slide_prev i:hover,
.slide_next i:hover {
    transform: scale(1.2);
}

.slide_prev,
.slide_next {
    position: absolute;
    bottom: 40%;
    transform: translateY(-40%);
    cursor: pointer;
    transition: 1s;
}

.slide_prev i:hover {
    color: white;
}

.slide_next i:hover {
    color: white;
}

.slide_prev {
    right: 96.5%;
    color: antiquewhite;
}

.slide_next {
    left: 96.5%;
}

.slider {
    position: absolute;
    display: flex;
    height: 10%;
    bottom: 30px;
    width: 15%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-around;
    align-items: center;
    border-radius: 100px;
    color: antiquewhite;
}

.slider i {
    cursor: pointer;
    font-size: 1.3em;
    margin: 8px;
}

.arright {
    color: antiquewhite;
}


/* --- Fine parte dello Slider */


/* Fine Reviews Section */

footer {
    padding-top: 15px;
    width: 100%;
    padding-bottom: 15px;
}

.footer_socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer_wrapper div {
    display: flex!important;
    justify-content: center!important;
}

.footer_wrapper div {
    flex-direction: column;
}

.footer_wrapper div:not(:last-child) {
    align-items: center;
}

.footer_wrapper .logo {
    width: 150px;
    vertical-align: middle;
}

.social {
    margin-right: 10px;
    vertical-align: middle;
    line-height: 50px;
    font-size: 30px;
    list-style-type: none;
}

.social:last-child {
    margin: 0;
}

.social .insta {
    font-size: 35px;
}

.social a {
    color: black;
}

.social a:hover {
    color: orange;
}

.footer_wrapper div:last-child span:last-child {
    font-style: italic;
    font-weight: bold;
}